{% extends 'frontPartenaire.html.twig' %}

{% block body %}
 <div class="row">
      <div class="col-lg-4">
        <div class="sidebar">
        
          <!-- Dashboard Links -->
          <div class="widget user-dashboard-menu">
            <ul>
              <li class="active"><a href="{{ path('list_itemsA') }}"><i class="fa fa-user"></i> Mes Ventes Actives
              <span>{{ items|filter(item => item.status == 0)|length }}</span></a></li>
              <li><a href="{{ path('list_itemsE') }}">Mes Ventes Expirées<i class="fa fa-bookmark-o"></i> 
                  <span></span></a></li>
              <li><a href="dashboard-archived-ads.html"><i class="fa fa-file-archive-o"></i>Ventes Archivées
                  <span></span></a></li>
              <li><a href="{{ path('add_item') }}"><i class="fa fa-bolt"></i> Ajouter Une Piéce<span></span></a>
              </li>
              <li><a href="index.html"><i class="fa fa-cog"></i> Logout</a></li>
            </ul>
          </div>
       </div>
      </div>
      <div class="col-lg-8">
       <div class="widget dashboard-container my-adslist">
          <h1>Edit Item</h1>

           {{ form_start(form) }}

           {{ form_row(form.category) }}
           {{ form_row(form.name) }}
           {{ form_row(form.description) }}
           {{ form_row(form.start_time) }}
           {{ form_row(form.end_time) }}
           {{ form_row(form.starting_price) }}
           {{ form_row(form.estimated_price) }}
           {{ form_row(form.img) }}


            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}